body.disable-answers .js_answerButton {
    opacity: 0.65;
    pointer-events: none !important;
    cursor: wait !important;
}

html[data-idk-btn="true"] a[data-answerid="-1"] {
    opacity: 0.65;
    pointer-events: none !important;
}

html[data-mastery-popover="true"] [data-original-title="Mastery meter"] {
    pointer-events: none !important;
}
